.header {
  height: 60px;
  background-color: #111;
  background: linear-gradient(0deg, transparent,  rgba(37, 37, 37, 1));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: fixed;
}


.left-section{
  display: flex;
  width: 120px;
  height: 30px;
  
  margin-left: 10px;
}

.netflix_logo_container{
  overflow: hidden;
  width: 110px;
  height: 30px;
}

.netflix_logo{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.right-section{
  display: flex;
  width: 150px;
  justify-content: center;
  align-items:  center;
  margin-right: 20px;
}

.user-picture{
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.notifications-icon{
  margin-right: 20px;
  width: 30px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  font-family: Roboto, Arial;
  top: 0px;
  right: 16px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(200, 0, 0);
  font-size: 11px;
  position: absolute;
}


.search{
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}




